/* Order Summary column */
.summary-header {
  font-size: 22px;
  font-weight: 500;
}

.summary-body>p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #999999;
  font-size: 17px;
}

.summary-body p>span {
  color: #666666;
}

.summary-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 19px;
  color: #666666;
  margin-bottom: 5px;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .summary-header {
    font-size: 2.8vw;
  }

  .summary-body>p {
    font-size: 2.2vw;
  }

  .summary-footer {
    font-size: 2.5vw;
  }
}


/* Products rows style */

.items-row-grid {
  display: grid;
  grid-template-columns: 20% 1fr;
  column-gap: 20px;
  box-shadow: 0px 0px 5px rgba(153, 153, 153, 0.5);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
}

.item-image-container {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.item-image-container img {
  width: 100%;
  height: 100%;
  max-height: 120px;
  max-width: 120px;
  min-width: 40px;
  object-fit: contain;
  align-content: center;
}


.item-info-container {
  display: grid;
  grid-template-rows: 3fr 1fr;
}

.item-name-container {
  overflow: hidden;
  white-space: nowrap;
}

.item-name-container>strong {
  font-size: 17px;
  color: #555555;
}

.item-name-container>p {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 18px;
  color: #999999;
  font-family: Arial, Helvetica, sans-serif;
}

.item-price {
  font-size: 21px;
  color: #999999;
}


.delete-btn-container {
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 10;
  padding: 2px 6px;
}

.delete-btn-container button {
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: 19px;
}

.delete-btn-container button:hover {
  color: red;
}

@media screen and (max-width: 992px) {
  .item-name-container strong {
    font-size: 15px;
  }

  .item-name-container p {
    font-size: 15px;
  }

  .item-price {
    font-size: 17px;
  }

  .delete-btn-container {
    position: absolute;
    top: 2px;
    right: 4px;
  }

  .delete-btn-container button {
    font-size: 17px;
  }
}